.notfound-container {
    height: 100vh;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-icon {
    font-size: 50px;
    margin-bottom: 1rem;
    color: #333;
}

.notfound-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 6px;
}

.notfound-container p {
    font-size: 1.4rem;
    color: #667;
    font-weight: 500;
}

.notfound-container button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 160px;
    height: 50px;
    margin-top: 0.8rem;
    transition: background-color 0.3s ease;
}

.notfoundcontainer button:hover {
    background-color: #555;
}

.notfound-container .-notfound-btn-link {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 600px) {
    .notfound-container {
        width: 89%;
    }
    .notfound-container h2 {
        font-size: 1.6rem;
    }

    .notfound-container p {
        font-size: 1.1rem;
    }
}
