.product {
    background-color: white;
    min-width: 270px;
    max-width: 270px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s;
}

.product:hover {
    scale: 1.02;
}

.product h2 {
    font-size: 1.4rem;
    margin: 10px;
    margin-bottom: 6px;
    color: #333;
}

.product p {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 8px;
    color: #667;
}

.product-link {
    text-decoration: none;
}
