.trending-products-container {
    margin-top: 3rem;
}

.trending-products-container .title {
    display: flex;
    justify-content: center;
    color: #333;
}

.trending-products-container .trending-products-p {
    display: flex;
    justify-content: center;
    color: #667;
    font-size: 1.3rem;
    margin-top: 6px;
}

.hr-1 {
    width: 460px;
    height: 5px;
    border-radius: 6px;
    background-color: #777;
    margin: auto;
    margin-top: 1rem;
}

.trending-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
}

@media (max-width: 700px) {
    .trending-products-container .title {
        font-size: 1.8rem;
    }

    .trending-products-container .trending-products-p {
        font-size: 1.1rem;
    }

    .hr-1 {
        max-width: 80%;
    }
}
