.cart-items-container {
    display: flex;
    margin: auto;
    margin-top: 2.4rem;
    gap: 2.8rem;
    width: 90%;
}

.cart-right-container {
    width: 40%;
    height: fit-content;
}

.cart-checkout-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cart-checkout-btn {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-checkout-btn:hover {
    background-color: #555;
}

@media (max-width: 1000px) {
    .cart-items-container {
        flex-direction: column;
    }

    .cart-right-container {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .cart-items-container {
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        gap: 1rem;
    }

    .cart-right-container {
        width: 100%;
    }

    .cart-checkout-btn-container {
        width: 92%;
        margin: auto;
        margin-top: 1rem;
        border-radius: 8px;
        overflow: hidden;
    }

    .cart-checkout-btn {
        border-radius: 0;
        font-size: 1.1rem;
    }
}
