.offer-banner {
    margin-top: 84px;
    background-color: #edede9;
    background: rgb(214, 204, 194);
    background: linear-gradient(
        86deg,
        rgba(214, 204, 194, 1) 0%,
        rgba(237, 237, 233, 1) 26%,
        rgba(255, 255, 255, 1) 99%
    );
    opacity: 0.9;
    padding: 1.4rem;
    text-align: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.24);
    overflow: hidden;
}

.offer-banner p {
    font-weight: 500;
    font-style: italic;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
    text-align: center;
}

.offer-message.fade-in {
    opacity: 1;
}

.offer-message.fade-out {
    opacity: 0;
}
